<div class="s-testimonials">

   <div class="overlay"></div>

   <div class="row testimonials-header">
       <div class="col-full">
           <h1 class="h02">İnsanlar Benim İçin Ne Dediler</h1>
       </div>
   </div>

   <div class="row testimonials">

       <div class="col-full testimonials__slider">

           <div class="testimonials__slide">
               <img src="~/hola-master/images/avatars/murat-hoca jpg.jpg" alt="Author image" class="testimonials__avatar" style="width: 100px; height: 100px; object-fit: cover;">
               <p>
                   Hamza hayırlı olsun.Seninle birlikte bu yola çıkmak beni çok mutlu etti.
               </p>
               <div class="testimonials__author h06">
                   Murat Yücedağ
                   <span>Eğitmen, M&Y Yazılım</span>
               </div>
           </div>

           <div class="testimonials__slide">
               <img src="~/hola-master/images/avatars/Mesut-bey jpg.jpg" alt="Author image" class="testimonials__avatar" style="width: 100px; height: 100px; object-fit: cover;">
               <p>
                   Tebrikler Hamza.Bu yolda seninle birlikte olmak beni çok mutlu etti. Umarım bu yolculukta hep birlikte oluruz.
               </p>
               <div class="testimonials__author h06">
                   Mesut Yücedağ
                   <span>Koordinatör,M&Y Yazılım</span>
               </div>
           </div>

           <div class="testimonials__slide">
               <img src="~/hola-master/images/avatars/SAMET jpg.jpg" alt="Author image" class="testimonials__avatar" style="width: 100px; height: 100px; object-fit: cover;">
               <p>
                   Hamza kardeşim başarılar.Bu yolda seninle birlikte olmak beni çok mutlu etti. Umarım bu yolculukta hep birlikte oluruz.
               </p>
               <div class="testimonials__author h06">
                   Samet Furkan Dağ
                   <span>FOCACCİA-CEO</span>
               </div>
           </div>

       </div> <!-- end testimonials__slider -->

   </div> <!-- end testimonials -->

</div>